
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.formulario input {
  height: 30px;
}
.formulario button {
  background-color: blueviolet;
  margin-bottom: 20px;
  height: 35px;
}
